<%= render "shared/header", title: "Posts" %>

<% if @posts.any? %>
  <div class="container list-group list-group-flush px-0">
    <%= render @posts %>
  </div>
<% else %>
  <p class="container">No posts, yet.</p>
<% end %>

<div class="container d-flex mt-4">
  <%= link_to "Add a post", new_post_path, class: "btn btn-primary flex-grow-1 flex-sm-grow-0" %>
</div>
